.Header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.btn-log-out {
    display: flex;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    border: 2px solid #e2e0e0;
    border-top: none;
    padding: 0 20px 0 2px;
    border-radius: 4px;
    justify-content: space-between;
    color: #888;
    cursor: pointer;
}
    
.btn-log-out:hover {
    background-color: #0d7fff;
    color: #fff;
}
.img-log-out{
    padding: 13px 15px 12px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}
.img-log-out img {
    width: 32px;
}